.complogo
{
  width: 120px;
  height: 40px;
  border-radius: 8px;

}

.no-spacing {
  margin-right: 3
}

.custom-carousel {
  width: 50%; 
  height: 400px; 
  margin: 10px;
  margin-top: 0px;
  margin-left: 0px;
}

.custom-carousel img {
  max-width: 140%; 
  height: auto; 
  max-height: 140%; 
  width: auto;
}

.main
{
  margin: 1px;
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 400px;

}

.sec-2
{
  width: 50%; 
  height: 400px; 
  margin: 10px;
  margin-top: 0px;
  margin-left: 0px;
}


