.complogo
{
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: white;

}

.usericonlogo
{
  width: 10vw;
  height: 8vw;
  border-radius: 30vw;
  background-color: white;
  text-align: center;
}

.hover {
  --s: 0.15em;
  --c: #476dd8;
  
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.0s;
}
.hover:hover {
  --_p: 100%
}

.headerdiv
{
  margin: 0.5vw;
  padding: 0;
  display: flex;
  height: 22vw;

}

.headerleftdiv
{
  width: 60%; 
  height: 100%;
}

.headerrightdiv
{
  width: 40%; 
  height: 100%; 
}

.crouselimgadjust
{
  max-height: 22vw;
  width: 100%;
}


.headerrightdivimg
{
  width: 16.9vw;
  height:18vw;
  margin-left: 2vw;
}

.divtopmarg
{
  margin-top: 1vw;
}

.card-rating .fa-star 
{
  color: #ffc107;
}

.adjustmainproductimg
{
  height: 22vw;
  width: 20vw;
}

.maincarddiv
{

  display: flex;
  height: 30vw;
}

.sizeadjustdivmaincard
{
  width: 50%;
}

.adjustrightcontaintmainimg
{
  margin-left: 2vw;

}

.sizeimagecard
{
  width: 300px;
  height: 250px;
  object-fit: contain;
}

.catlist2nddiv
{
  margin: 1vw;
  display: flex;
}

.aboutstyle {
  background-color: rgb(191, 201, 202);
  width: 100%;
  margin-top: 5px;
  bottom: 0;
  position: fix;
}


.iconsizes
{
  height: 2rem;
  width: 2rem;
}

.footerbottom
{
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: black;
  color:white;
  text-align:center;
  position: fix;
}

.searchDiv{
  position: absolute;
  z-index: 2000;
  display: flex;
  flex-direction: column; /* Display search results vertically */
  background-color: rgb(255, 255, 255);
  /* border: 3px solid black;*/
  border-radius: 15px; ;
}


.searchResult {
  display: flex;
  justify-content: space-between; /* Title on left, price on right */
  align-items: center; /* Center items vertically */
  margin-bottom: 15px; /* Add some space between search results */
  width: 100%
}

.all-container{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.title {
  flex: 2; /* Title takes remaining space */
}

.price {
  margin-left: 20px; /* Add some space between title and price */
  /* Add any additional styles as needed */
}

.flex {
  display: flex;
  margin-top: 1vw;
  background-color: #ffffff;
  height: 100%;
  border-radius: 15px;
  padding-bottom: 1vw;
}

.address-body{
  display: flex;
}

.containerFirst-address{
  width: 70%;
  margin-right: 1vw;
  margin-top: 1vw;
}

.containerSecond-address{
  margin-top: 1vw;
  margin-left: 1vw;
  width: 30%;
}

.btn-proceed{
  float: right;
  margin-right: 1vw;
  margin-top: 1vw;
}

.card{
  width:100%
}

.signupcontainer{
  background-color: white;
  margin-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 15px;
  
}
.signupInput{
  display: flex;
  width: 100%;
}

.dataContainerLoginPage{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20vw;
  margin-right: 20vw;
  height: 100%;

}

.ordersPage{
  background-color: #ffffff;
  border-radius: 8px;
  
}

.final-bg{
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1vw;
}





/*********MediaView***********/

@media screen and (max-width: 1005px){
  
  .headerdiv
  {
    height: 90vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .headerleftdiv
  {
    height: 40vw;
    width: 100%;
  }

  .headerrightdiv
  {
    height: 70vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .catlist3rddiv
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .headerrightdivimg
  {
    width: 40vw;
    height:40vw;
    margin-left: 4vw;

  }

  .crouselimgadjust
  {
    max-height: 100%;
    width: 100%;
  }
  .catdivalign
  {
    max-width: 100%;
  }

  .display
  {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .btnflotdiv
  {
    margin-right: 5vw;
  }

  .adjustmainproductimg
  {
    height: 48vw;
    width: 30vw;
  }

  .sizeadjustdivmaincard
  {
   width: 100%;
   display: grid;
   place-items: center;
  }

  .maincarddiv
  {
   display: flex;
   flex-direction: column;
   height: 100vw;
  }
  .flex {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    background-color: #ffffff;
    height: 100%;
    border-radius: 15px;
    padding-bottom: 1vw;
  }

  .containerFirst-address{
    width: 100%;
    margin-right: 1vw;
    margin-top: 1vw;
  }

  .containerSecond-address{
    margin-top: 1vw;
    margin-left: 1vw;
    width: 100%;
  }

}